{% extends 'layout' %}

{% block content %}
<header class="h-16 sm:h-32"></header>

{% for post in posts %}
	<article class="py-12 sm:flex max-w-5xl w-full mx-auto px-8 sm:px-0">
		<div class="sm:w-48 mb-6 sm:mb-0">
		</div>
		<div class="sm:flex-1 space-y-3">
			<h1 class="leading-tight text-2xl font-bold">
				<a href="{{ route('blog post', post.slug) }}">
					{{post.title}}
				</a>
			</h1>
			<p>
				<a href="{{ route('blog post', post.slug) }}">
					{{post.perex|raw}}
				</a>
			</p>
			<p class="text-zinc-400 text-sm">
				<a href="{{ route('blog post', post.slug) }}">
					Published at {{ post.date.format('l, F jS Y') }} by {{ post.authors.pluck('name').join(', ') }}
				</a>
			</p>
		</div>
		<div class="hidden sm:block w-48">
		</div>
	</article>
{% endfor %}
{% endblock %}
