{% extends 'layout' %}

{% block content %}
<article class="home-block home-block-clockwork limited-width">
	<h1>Clockwork</h1>
	<h2>php dev tools integrated to your browser</h2>

	<a href="/clockwork">
		{# <img src="{{ asset(clockworkScreenshotsPath ~ '/' ~ random([ 1, 2, 3 ]) ~ '.png') }}" alt="Clockwork screenshot"> #}
		<img src="{{ asset('images/clockwork/clockwork.png') }}" alt="Clockwork screenshot">
	</a>
</article>

<article class="home-block home-block-createdBy">
	<div class="limited-width">
		<h1>Created by</h1>
	</div>

	<div class="authors limited-width">
		<div class="author wide">
			<div>
				<a href="https://github.com/itsgoingd" target="_blank">
					<img src="https://avatars.githubusercontent.com/u/821582?v=3" class="avatar">
				</a>
			</div>
			<div>
				Miroslav Rigler<br>
				<a href="https://twitter.com/itsgoingd">@itsgoingd</a>
			</div>
		</div>
		<div class="author wide with-contributions">
			<div>
				with contributions<br>
				by
			</div>
		</div>
		{% for contributor in contributors %}
			<div class="author">
				<div>
					<a href="{{ contributor.url }}" target="_blank">
						<img src="{{ contributor.avatarUrl }}" class="avatar" title="{{ contributor.userName }}">
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</article>
{% endblock %}
