{% extends 'layout' %}

{% block content %}
<article class="home-block home-block-clockwork limited-width">
	<div class="limited-width">
		<h1>
			<a href="/clockwork">
				Clockwork
			</a>
		</h1>

		<p>
			Clockwork is a development tool for PHP available right in your browser. Clockwork gives you an insight into your application runtime - including request data, performance metrics, log entries, database queries, cache queries, redis commands, dispatched events, queued jobs, rendered views and more - for HTTP requests, commands, queue jobs and tests.
		</p>
	</div>

	<a href="/clockwork">
		{# <img src="{{ asset(clockworkScreenshotsPath ~ '/' ~ random([ 1, 2, 3 ]) ~ '.png') }}" alt="Clockwork screenshot"> #}
		<img src="{{ asset('images/clockwork/clockwork.png') }}" alt="Clockwork screenshot">
	</a>
</article>

<article class="home-block home-block-chat">
	<div class="chat-content">
		<div class="chat-headline">
			<div class="chat-logo">
				{{ includeAsset('images/discord-black.svg') }}
			</div>

			<h1>underground.<del>chat</del></h1>
		</div>

		<p class="chat-info">
			Join us on <strong>Discord</strong> and let's figure out how to make cool stuff together.
		</p>

		<a href="https://discord.gg/NUuCGE4" class="chat-link" target="_blank">
			Join
		</a>
	</div>

	<div class="chat-chatheads">
		{% for chathead in chatheads %}
			<div class="chat-chathead chathead-{{ chathead.size }}" style="{{ chathead.style }}" title="{{ chathead.member.userName }}" data-parallax="{{ chathead.parallax }}">
				{% if chathead.member.avatarUrl %}
					<img src="{{ chathead.member.avatarUrl }}">
				{% else %}
					{{ includeAsset('images/discord-simple.svg') }}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</article>

<article class="home-block home-block-createdBy limited-width">
	<div class="limited-width">
		<h1>Created by</h1>
	</div>

	<div class="maintainers limited-width">
		<div class="maintainers-maintainer">
			<a href="https://github.com/itsgoingd" class="maintainer-avatar" target="_blank">
				<img src="https://avatars.githubusercontent.com/u/821582?v=3">
			</a>

			<div class="maintainer-info">
				<h2>its</h2>
				<p>
					I'm an independent software creator from Slovakia. I make open-source software under the underground.works label with the goal of making people's lives better with a good design, programming and support.
				</p>
			</div>

			<div class="maintainer-links">
				<a href="https://twitter.com/itsgoingd" target="_blank" title="Twitter">
					{{ includeAsset('images/twitter.svg') }}
				</a>

				<a href="https://github.com/itsgoingd" target="_blank" title="GitHub">
					{{ includeAsset('images/github.svg') }}
				</a>

				<a href="https://github.com/sponsors/itsgoingd" target="_blank" title="GitHub sponsors">
					{{ includeAsset('images/heart.svg') }}
				</a>
			</div>
		</div>
	</div>

	<div class="contributors">
		{% for contributor in contributors %}
			<div class="contributors-contributor">
				<a href="{{ contributor.url }}" target="_blank" class="contributor-avatar">
					<img src="{{ contributor.avatarUrl }}" title="{{ contributor.userName }}">
				</a>
			</div>
		{% endfor %}

		<div class="contributors-filler"></div>

		<span class="contributors-link">
			Thank you!
		</span>
	</div>
</article>

<article class="home-block home-block-sponsoredBy limited-width">
	<div class="limited-width">
		<h1>Sponsored by</h1>

		<p class="sponsors-intro">This project is a labour of love, made entirely in my free time. If you find anything I do useful, sponsoring on GitHub might be a great way to show your support.
	</div>

	<div class="sponsors">
		{% for sponsor in sponsors %}
			<div class="sponsors-sponsor">
				<a href="{{ sponsor.url }}" target="_blank" class="sponsor-avatar">
					<img src="{{ sponsor.avatarUrl }}" title="{{ sponsor.userName }}">
				</a>
			</div>
		{% endfor %}

		<a href="https://github.com/sponsors/itsgoingd" class="sponsors-link" target="_blank">
			{{ includeAsset('images/heart.svg') }} Become a sponsor
		</a>

		<div class="sponsors-filler"></div>

		<span class="sponsors-link">
			Thank you!
		</span>
	</div>
</article>
{% endblock %}
